.widget-hhnews {
    td {
        display: flex;

        .media {
            margin-right: 10px;

            img {
                height: auto;
                max-width: 50px;
            }
        }
    }
}
