<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />

<f:section name="main">
    <div class="widget-table-wrapper">
        <table class="widget-table widget-hhnews">
            <f:for each="{items}" as="item">
                <tr>
                    <td>
                        <f:if condition="{item.enclosure.url}">
                            <div class="media">
                                <a href="{item.link}" target="_blank" rel="noreferrer">
                                    <f:switch expression="{item.enclosure.type}">
                                        <f:case value="video/mp4">
                                        </f:case>
                                        <f:defaultCase>
                                            <img src="{item.enclosure.url}" alt="Image of {item.title}" />
                                        </f:defaultCase>
                                    </f:switch>
                                </a>
                            </div>
                        </f:if>
                        <div class="content">
                            <a href="{item.link}" target="_blank" rel="noreferrer"><strong>{item.title}</strong></a>
                            <small><time datetime="{item.pubDate -> f:format.date(format: '%Y-%m-%d')}">{item.pubDate -> f:format.date()}</time></small>
                            <p>{item.description -> f:format.crop(maxCharacters: 180)}</p>
                        </div>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</f:section>

<f:section name="footer">
    <a href="{button.url}" class="widget-cta" target="{button.target}" rel="noreferrer" title="{button.title}">{button.text}</a>
</f:section>

</html>
